<div
    class="lg:hidden bg-white fixed top-[52px] left-0 w-[220px] h-screen overflow-y-auto transform translate-x-[-100%] transition-transform duration-300 ease-in-out z-30"
    id="mobile-menu"
    x-cloak
>
    <aside
        class="flex w-72 flex-col space-y-2 border-r-2 border-gray-200 bg-white p-2"
        style="height: 90.5vh"
    >
        <a
            href="#"
            class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-300"
        >
            <span class="text-2xl"><i class="bx bx-home"></i></span>
            <span>Incio</span>
        </a>

        <a
            href="#"
            class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-300"
        >
            <span class="text-2xl"><i class="bx bx-cart"></i></span>
            <span>Carrito</span>
        </a>

        <a
            href="#"
            class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-300"
        >
            <span class="text-2xl"><i class="bx bx-shopping-bag"></i></span>
            <span>Catálogo</span>
        </a>

        <a
            href="/Profile"
            class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-300"
        >
            <span class="text-2xl"><i class="bx bx-user"></i></span>
            <span>Perfil</span>
        </a>
    </aside>
</div>
